html,body{
 overflow-x:hidden;
}
img{
    width: 300px;
    height: 300px;
    float: left;
    padding: 0 10px 10px 0;
}
.header{
    margin: 10px 10px 10px 10px;
}
.container{
    display: block;
    margin: 10px 10px 10px 10px;
}
.main{
    width: 100%;
    background-color: aquamarine;
    padding: 0 10px 10 px 10px;
    text-align: justify;
}
.sidebar{
    width: 380px;
    float: right;
    background-color: red;
    padding: 10px 10px 10px 10px;
}
.footer{
    margin: 10px 10px 10px 10px;
}
ul{
    list-style: none;
}